Host kdcp
    HostName kubedemo.example.org
    User demo
    Port 2222

Host kdw1
    HostName kubedemo-worker-01
    User demo
    Port 2222
    ProxyJump kdcp

Host kdw2
    HostName kubedemo-worker-02
    User demo
    Port 2222
    ProxyJump kdcp

Host kdd1
    HostName kubedemo-data-01
    User demo
    Port 2222
    ProxyJump kdcp
