Host ${cluster_name}-cp
    HostName ${cluster_fqdn}
    User ${cluster_user}
    Port 2222

%{ for key, s in servers ~}
Host ${cluster_name}-${key}
    HostName ${cluster_name}-${s.name}
    User ${cluster_user}
    Port 2222
    ProxyJump ${cluster_name}-cp

%{ endfor ~}
