hcloud_token               = ""
cluster_name               = "kube"
cluster_user               = "kube"
server_location            = "nbg1"
volume_size                = 10
my_public_ssh_name         = "kube"
my_public_ssh_key          = ""
my_ip_addresses            = ["23.23.23.23/32", "34.34.34.34/32"]
my_cluster_domain          = "kubedemo.example.org"
controller_ssh_key_name    = "id_ed25519"
controller_private_ssh_key = <<EOF
-----BEGIN OPENSSH PRIVATE KEY-----

-----END OPENSSH PRIVATE KEY-----
EOF
controller_public_ssh_key  = ""
