hcloud_token                = ""
cluster_name                = "kube"
cluster_user                = "kube"
cluster_fqdn                = "kubedemo.example.org"
server_location             = "nbg1"
volume_size                 = 10
my_public_ssh_name          = "kube"
my_public_ssh_key           = ""
my_ip_addresses             = ["0.0.0.0/0", "::/0"]
controller_private_ssh_key  = <<EOF
-----BEGIN OPENSSH PRIVATE KEY-----

-----END OPENSSH PRIVATE KEY-----
EOF
controller_public_ssh_key   = ""
workers = [
  {
    name       = "worker-01"
    short_name = "w1"
    ip         = "10.0.0.3"
  },
  {
    name       = "worker-02"
    short_name = "w2"
    ip         = "10.0.0.4"
  },
  {
    name       = "data-01"
    short_name = "d1"
    ip         = "10.0.0.5"
  }
]
volumes = [
  {
    name         = "volume-01"
    server_index = 2,
    size         = 10,
  }
]
