hcloud_token                = "<required_hcloud_token>"
cluster_name                = "kube"
cluster_user                = "kube"
cluster_fqdn                = "kube.example.org"
server_location             = "nbg1"
my_public_ssh_name          = "kube"
my_public_ssh_key           = "<required_public_ssh_key>"
my_ip_addresses             = ["0.0.0.0/0", "::/0"]
controller_private_ssh_key  = <<EOF
-----BEGIN OPENSSH PRIVATE KEY-----

-----END OPENSSH PRIVATE KEY-----
EOF
controller_public_ssh_key   = ""
workers = {
  w1 = {
    name = "worker-01"
    ip   = "10.0.0.4"
    role = "worker"
  },
  w2 = {
    name = "worker-02"
    ip   = "10.0.0.5"
    role = "worker"
  },
  d1 = {
    name = "data-01"
    ip   = "10.0.0.6"
    role = "data"
  },
  d2 = {
    name = "data-02"
    ip   = "10.0.0.7"
    role = "data"
  }
}
volumes = {
  vol1 = {
    name   = "volume-01"
    server = "d1"
    size   = 20
  }
  vol2 = {
    name   = "volume-02"
    server = "d2"
    size   = 20
  }
}
lb_services = [80, 443]
lb_targets = ["w1", "w2"]
